body {
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#onblvl {
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: black;
  margin: 0;
  padding: 0;
}

#onblvl.hidden{
  animation: hidden 1.5s forwards;
}

.lvl-button{
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: solid 2px white;
  transition: color .3s, background-color .3s;
}

.lvl-button:hover {
  color: black;
  background-color: white;
}

.keyboard {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

.row.last {
  margin-left: -110px;
}

.key {
  animation: appear 2.5s;
  min-width: 80px;
  padding: 36px 10px;
  border: 4px solid white;
  border-radius: 10px;
  margin: 0 11px;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  transition: all ease .5s;
}

.key.active {
  background-color: white;
  color: black;
}

.key.active.success {
  background-color: #2ecc71;
  color: white;
  border-color: #2ecc71;
}

.key.active.fail {
  background-color: #e74c3c;
  color: white;
  border-color: #e74c3c;
}

@keyframes hidden {
  0%{
    visibility: visible;
    opacity: 1;
  }

  100%{
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes appear {
  from {
    color: black;
    border-color: black;
  }
  to {
    color: white;
    border-color: white;
  }
}